@layer fonts {
  @font-face {
    font-family: RedHatDisplay;
    src: url('../public/fonts/RedHatDisplay/RedHatDisplay-Regular.woff');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizelegibility;
  }

  @font-face {
    font-family: RedHatDisplay;
    src: url('../public/fonts/RedHatDisplay/RedHatDisplay-Medium.woff');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizelegibility;
  }

  @font-face {
    font-family: RedHatDisplay;
    src: url('../public/fonts/RedHatDisplay/RedHatDisplay-Bold.woff');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizelegibility;
  }

  @font-face {
    font-family: RedHatText;
    src: url('../public/fonts/RedHatText/RedHatText-Regular.woff');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizelegibility;
  }

  @font-face {
    font-family: RedHatText;
    src: url('../public/fonts/RedHatText/RedHatText-Medium.woff');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizelegibility;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: RedHatMono;
    src: url('../public/fonts/RedHatMono/RedHatMono-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
}

@layer typography {
  body {
    font-family: var(--rh-font-family-body-text);
    font-size: 1rem;
    line-height: var(--rh-line-height-body-text);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--rh-font-family-heading);
    line-height: var(--rh-line-height-heading);
  }

  :where(code) {
    font-family: var(--rh-font-family-code);
    line-height: var(--rh-line-height-code);
  }

  :where(kbd) {
    font-family: var(--rh-font-family-body-text);
    font-size: 1rem;
    line-height: var(--rh-line-height-body-text);
  }

  :where(h1) {
    font-size: var(--rh-font-size-heading-2xl);
  }

  :where(h2) {
    font-size: var(--rh-font-size-heading-xl);
  }

  :where(h3) {
    font-size: var(--rh-font-size-heading-lg);
  }

  :where(h4) {
    font-size: var(--rh-font-size-heading-md);
  }

  :where(h5) {
    font-size: var(--rh-font-size-heading-sm);
  }

  :where(h6) {
    font-size: var(--rh-font-size-heading-xs);
  }

  :where(p) {
    font-size: var(--rh-font-size-body-text-md);
  }

  :where(p, h1, h2, h3, h4, h5, h6, li) {
    max-width: 56rem; /* warning: magic number */
  }
}

@layer base {
  body {
    color: var(--rh-color-text-primary);
    margin: 0;
  }

  [hidden] {
    display: none !important;
  }

  :where(p, ul, ol, dl) {
    font-size: var(--rh-font-size-body-text-lg);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--rh-font-weight-heading-medium);
  }

  a {
    color: var(--rh-color-interactive-primary-default);
    &:hover { color: var(--rh-color-interactive-primary-hover); }

    &:focus-within {
      color: var(--rh-color-interactive-primary-focus);
      &:hover { color: var(--rh-color-interactive-primary-focus); }
    }

    &:visited { /* stylelint-disable-line no-descending-specificity */
      color: var(--rh-color-interactive-primary-visited-default);
      &:hover { color: var(--rh-color-interactive-primary-visited-hover); }
    }
  }

  hr {
    border-block-start: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
    border-inline: none;
    border-block-end: none;
    margin-block-end: var(--rh-space-2xl);
  }

  figure > img {
    max-width: 100%;
  }

  figcaption {
    color: var(--rh-color-text-secondary);
  }

  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    inset-block-start: 0;
    inset-inline-start: 0;
    overflow: hidden;
    position: fixed;
    white-space: nowrap;
  }
}

@layer universal-nav {
  .universal-nav {
    background-color: var(--rh-color-surface-darkest, #151515);
/*    display: block;*/
    border-block-end: 1px solid var(--rh-color-gray-50, #707070);
    padding-inline: var(--rh-space-lg, 16px);
    display: flex;
    justify-content: end;
  }

  .universal-nav ul {
    margin-block: 0;
    padding-inline-start: 0;
    text-align: end;
  }

  .universal-nav {
    --_rh-navigation-universal-caret-size: 12px;

    container-name: nav-universal;
    container-type: inline-size;
  }

  .universal-nav > ul > li {
    display: inline;
    color: var(--rh-color-gray-20, #e0e0e0);
  }

  .universal-nav-dropdown > ul > li {
    color: var(--rh-color-gray-95, #151515);
  }

  .universal-nav > ul > li:not(:last-child) {
    border-inline-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-gray-50, #707070);
  }

  .universal-nav > ul > li > a {
    border-block-start: var(--rh-border-width-lg, 3px) solid transparent;
    color: var(--rh-color-white, #ffffff);
    display: inline-block;
    font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
    font-size: var(--rh-font-size-body-text-sm, 0.875rem);
    padding: var(--rh-space-md, 8px);
    text-decoration: none;
  }

  .universal-nav > ul > li > a:hover {
    border-block-start-color: var(--rh-color-border-subtle);
    cursor: pointer;
  }

  .universal-nav > ul > li > a:focus-visible {
    outline: var(--rh-border-width-sm, 1px) dashed var(--rh-color-white, #ffffff);
    outline-offset: -1px;
  }

  .universal-nav-dropdown :is(p, a, li) {
    font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
    font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  }

  .universal-nav-dropdown {
    color: var(--rh-color-white, #ffffff);
    display: inline-block;
    line-height: 1;
    position: relative;
  }

  .universal-nav-dropdown summary {
    border-block-start: var(--rh-border-width-lg, 3px) solid transparent;
    font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
    font-size: var(--rh-font-size-body-text-sm, 0.875rem);
    list-style-type: none;
    padding-inline-start: var(--rh-space-md, 8px);
    padding-inline-end: var(--rh-space-xl, 24px);
    padding-block: 11px;
    position: relative;
    user-select: none;
  }

  .universal-nav-dropdown summary::-webkit-details-marker,
  .universal-nav-dropdown summary::marker {
    display: none;
  }

  .universal-nav-dropdown summary:hover,
  .universal-nav-dropdown[open]:hover summary {
    border-block-start-color: var(--rh-color-border-subtle);
    cursor: pointer;
    text-decoration: none;
  }

  .universal-nav-dropdown summary:focus-visible {
    outline: var(--rh-border-width-sm, 1px) dashed var(--rh-color-white, #ffffff);
    outline-offset: -1px;
  }

  .universal-nav-dropdown summary:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M18.7 5.3c-.4-.4-1-.4-1.4 0L10 12.6 2.7 5.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4s7.6 7.7 7.6 7.7c.3.3.7.4 1.1.4s.8-.1 1.1-.4l7.6-7.7c.4-.4.4-1 0-1.4Z' style='fill:%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: var(--_rh-navigation-universal-caret-size);
    content: '';
    display: inline-block;
    block-size: var(--_rh-navigation-universal-caret-size);
    inline-size: var(--_rh-navigation-universal-caret-size);
    inset-block-start: 10px;
    inset-inline-end: var(--rh-space-xs, 4px);
    position: absolute;
    transition: 0.2s;
    will-change: rotate;
  }

  .universal-nav-dropdown[open] summary:after {
    rotate: -180deg;
  }

  /* https://penote.com/html5/closing-html-details-tag-on-click-outside-with-only-css/ */
  .universal-nav-dropdown[open] summary:before {
    content: '';
    cursor: auto;
    block-size: 100svh;
    inline-size: 100svw;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: fixed;
  }

  #details-content {
    background-color: var(--rh-color-surface-lightest, #ffffff);
    box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
    color: var(--rh-color-text-primary);
    inset-block-start: 38px;
    inset-inline-end: 0;
    padding: var(--rh-space-xl, 24px);
    position: absolute;
    text-align: start;
    inline-size: 300px;
    z-index: 103;
  }

  @container nav-universal (min-width: 576px) {
    #details-content {
      inline-size: 500px;
    }
  }

  /* Sample styles for `<details>` dropdown links: */
  .universal-nav-dropdown #details-content ul {
    padding-inline-start: 0;
    text-align: start;
  }

  @container nav-universal (min-width: 576px) {
    .universal-nav-dropdown #details-content > ul {
      column-count: 2;
    }
  }

  .universal-nav-dropdown #details-content li {
    font-size: var(--rh-font-size-body-text-md, 1rem) !important;
    list-style-type: none;
  }

  .universal-nav-dropdown #details-content > ul > li {
    break-inside: avoid;
    font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', Helvetica, Arial, sans-serif) !important;
    padding-block-start: 19px;
  }

  .universal-nav-dropdown #details-content > ul > li > ul {
    margin-block-end: var(--rh-space-lg, 16px);
    padding-block-start: var(--rh-space-md, 8px);
  }

  .universal-nav-dropdown #details-content > ul > li > ul > li {
    line-height: var(--rh-line-height-body-text, 1.5);
  }

  .universal-nav-dropdown #details-content > ul > li > ul a {
    display: block;
    padding-block: var(--rh-space-xs, 4px);
    text-decoration: none;
  }

  .universal-nav-dropdown #details-content > ul > li > ul :is(a:hover, a:focus) {
    text-decoration: underline;
  }
}

@layer navigation {
  /* Main Navigation: */
  /* Grid */
  .rhsfx-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--rh-space-2xl, 32px);
    margin-block-end: var(--rh-space-2xl, 32px);
  }

  :is(.rhsfx-grid-item, .rhsfx-card) > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .rhsfx-grid-item h3 {
    font-size: var(--rh-font-size-heading-xs, 1.25rem);
    font-weight: var(--rh-font-size-heading-xs, 1.25rem);
    margin-block-end: var(--rh-space-lg, 16px);
  }

  @container (min-width: 768px) {
    .rhsfx-grid.sm-two-columns {
      grid-template-columns: 1fr 1fr;
    }
    .rhsfx-grid.sm-three-columns {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @container (min-width: 992px) {
    .rhsfx-grid.md-three-columns {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .rhsfx-grid.md-four-columns {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  /* Tile link */
  .rhsfx-tile-link {
    display: block;
    text-decoration: none;
    margin-block-end: var(--rh-space-lg, 16px);
  }

  .rhsfx-tile-link:hover {
    background-color: var(--rh-color-surface-lighter, #f2f2f2);
    outline: var(--rh-space-md, 8px) solid var(--rh-color-surface-lighter, #f2f2f2);
  }

  .rhsfx-tile-link span {
    margin-block: var(--rh-space-md, 8px) var(--rh-space-md, 8px);
  }

  .rhsfx-tile-link span:first-of-type {
    color: var(--rh-color-interactive-blue-darker, #0066cc);
  }

  .rhsfx-tile-link span:last-of-type {
    display: block;
    color: var(--rh-color-text-secondary-on-light, #4d4d4d);
    font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  }

  .rhsfx-tile-link:hover span:first-of-type {
    text-decoration: underline;
    color: var(--rh-color-interactive-blue-darkest, #003366);
  }

  .rhsfx-tile-link:hover span:last-of-type {
    color: var(--rh-color-text-secondary-on-light, #4d4d4d);
  }

  .rhsfx-tile-link-img {
    width: 100%;
    padding-top: 10px;
    max-width: 260px;
  }

  /* Card */
  .rhsfx-card {
    background-color: var(--rh-color-surface-lighter, #f2f2f2);
    border: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle-on-light, #c7c7c7);
    border-radius: var(--rh-border-radius-default, 3px);
    padding: var(--rh-space-2xl, 32px) var(--rh-space-2xl, 32px) var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px);
  }

  .rhsfx-card li {
    margin-block: var(--rh-space-md, 8px);
  }

  .rhsfx-card a {
    font-size: var(--rh-font-size-body-text-md, 1rem);
    color: var(--rh-color-interactive-blue-darker, #0066cc) !important;
    text-decoration: none;
  }

  .rhsfx-card a:hover {
    color: var(--rh-color-interactive-blue-darkest, #003366) !important;
  }

  /* Tag */
  .rhsfx-tag {
    display: inline;
  }

  /* FIX: no-descending-specificity */
  .rhsfx-tag span {
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: var(--rh-space-xs, 4px) var(--rh-space-md, 8px);
    font-size: var(--rh-font-size-body-text-sm, 0.875rem);
    border-radius: var(--rh-border-radius-pill, 64px);
    background-color: var(--_rhsfx-tag-background-color, var(--rh-color-surface-lighter, #f2f2f2));
    color: var(--_rhsfx-tag-color, var(--rh-color-text-primary-on-light, #151515));
  }

  .rhsfx-tag span:before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border-radius: var(--rh-border-radius-pill, 64px);
    border: var(--rh-border-width-sm, 1px) solid var(--_rhsfx-tag-border-color, var(--rh-color-border-subtle-on-light, #c7c7c7));
  }

  .rhsfx-tag.filled.blue {
    --_rhsfx-tag-background-color: var(--rh-color-blue-10, #e0f0ff);
    --_rhsfx-tag-color: var(--rh-color-blue-70, #003366);
    --_rhsfx-tag-border-color: var(--rh-color-blue-20, #b9dafc);
  }

  /* CTA */
  .rhsfx-cta {
    width: fit-content !important;
    display: inline-flex !important;
    color: var(--rh-cta-color);
    font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
    font-size: var(--rh-font-size-body-text-lg, 1.125rem);
    font-weight: 600; /* WARNING: not a token value */
    line-height: var(--rh-line-height-body-text, 1.5);
    background-color: var(--rh-cta-background-color);
    border-color: var(--rh-cta-border-color, transparent);
    border-radius: var(--rh-border-radius-default, 3px);
    border-width: var(--rh-border-width-sm, 1px);
  }

  .rhsfx-cta:not(.primary, .secondary, .brick) {
    --rh-cta-background-color: transparent;
    --rh-cta-border-color: transparent;
    --rh-cta-color: var(--rh-color-interactive-blue-darker, #0066cc);
    --rh-cta-hover-background-color: transparent;
    --rh-cta-hover-border-color: transparent;
    --rh-cta-hover-inner-border-color: transparent;
    --rh-cta-hover-color: var(--rh-color-interactive-blue-darkest, #003366);
    --rh-cta-hover-text-decoration: none;
    --rh-cta-focus-background-color: transparent;
    --rh-cta-focus-container-background-color: #0066cc1a;
    --rh-cta-focus-border-color: transparent;
    --rh-cta-focus-inner-border-color: transparent;
    --rh-cta-focus-color: var(--rh-color-interactive-blue-darker, #0066cc);
    --rh-cta-focus-text-decoration: none;
    --rh-cta-active-container-background-color: #0066cc1a;
    --rh-cta-active-inner-border-color: transparent;
    --rh-cta-active-text-decoration: none;
  }

  .rhsfx-cta:focus-within {
    border-color: var(--rh-cta-focus-border-color);
    background-color:
      var(
          --rh-cta-focus-container-background-color,
          var(--rh-cta-focus-background-color)
        );

    --rh-cta-color: var(--rh-cta-focus-color);
    --rh-cta-text-decoration: var(--rh-cta-focus-text-decoration);
  }

  .rhsfx-cta:hover {
    color: var(--rh-cta-hover-color);
    border-color: var(--rh-cta-hover-border-color);
    background-color: var(--rh-cta-hover-background-color);

    --rh-cta-text-decoration: var(--rh-cta-hover-text-decoration);
  }

  .rhsfx-cta:active {
    background-color: var(--rh-cta-active-background-color);
  }

  .rhsfx-cta.primary {
    border-style: solid;

    --rh-cta-background-color: var(--rh-color-brand-red-on-light, #ee0000);
    --rh-cta-border-color: var(--rh-color-brand-red-on-light, #ee0000);
    --rh-cta-color: var(--rh-color-text-primary-on-dark, #ffffff);
    --rh-cta-hover-background-color: var(--rh-color-brand-red-dark, #a60000);
    --rh-cta-hover-border-color: var(--rh-color-brand-red-dark, #a60000);
    --rh-cta-hover-color: var(--rh-color-text-primary-on-dark, #ffffff);
    --rh-cta-focus-background-color: var(--rh-color-brand-red-on-light, #ee0000);
    --rh-cta-focus-border-color: var(--rh-color-brand-red-on-light, #ee0000);
    --rh-cta-focus-color: var(--rh-color-text-primary-on-dark, #ffffff);
    --rh-cta-focus-inner-border-color: var(--rh-color-text-primary-on-dark, #ffffff);
    --rh-cta-active-background-color: var(--rh-color-brand-red-dark, #a60000);
    --rh-cta-active-inner-border-color: var(--rh-color-text-primary-on-dark, #ffffff);
  }

  .rhsfx-cta.secondary {
    border-style: solid;

    --rh-cta-background-color: transparent;
    --rh-cta-border-color: var(--rh-color-border-strong-on-light, #151515);
    --rh-cta-color: var(--rh-color-text-primary-on-light, #151515);
    --rh-cta-hover-background-color: var(--rh-color-surface-darkest, #151515);
    --rh-cta-hover-border-color: var(--rh-color-border-strong-on-light, #151515);
    --rh-cta-hover-color: var(--rh-color-text-primary-on-dark, #ffffff);
    --rh-cta-focus-background-color: var(--rh-color-surface-lighter, #f2f2f2);
    --rh-cta-focus-border-color: var(--rh-color-border-strong-on-light, #151515);
    --rh-cta-focus-color: var(--rh-color-surface-darkest, #151515);
    --rh-cta-focus-inner-border-color: var(--rh-color-border-strong-on-light, #151515);
    --rh-cta-active-color: var(--rh-color-text-primary-on-dark, #ffffff);
    --rh-cta-active-background-color: var(--rh-color-border-strong-on-light, #151515);
    --rh-cta-active-inner-border-color: var(--rh-color-surface-light, #e0e0e0);
  }

  .rhsfx-cta.brick {
    border-style: solid;
    font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
    font-weight: var(--rh-font-weight-body-text-regular, 400);

    --rh-cta-background-color: transparent;
    --rh-cta-border-color: var(--rh-color-border-subtle-on-light, #c7c7c7);
    --rh-cta-color: var(--rh-color-interactive-blue-darker, #0066cc);
    --rh-cta-hover-background-color: var(--rh-color-surface-lighter, #f2f2f2);
    --rh-cta-hover-border-color: var(--rh-color-border-subtle-on-light, #c7c7c7);
    --rh-cta-hover-color: var(--rh-color-interactive-blue-darkest, #003366);
    --rh-cta-hover-text-decoration: underline;
    --rh-cta-focus-color: var(--rh-color-interactive-blue-darker, #0066cc);
    --rh-cta-focus-border-color: var(--rh-color-border-subtle-on-light, #c7c7c7);
    --rh-cta-focus-inner-border-color: var(--rh-color-border-subtle-on-light, #c7c7c7);
    --rh-cta-focus-text-decoration: none;
    --rh-cta-active-background-color: var(--rh-color-surface-lighter, #f2f2f2);
    --rh-cta-active-inner-border-color: var(--rh-color-border-subtle-on-light, #c7c7c7);
    --rh-cta-active-text-decoration: underline;
  }

  .rhsfx-cta * {
    display: inline !important;
    border: none !important;
    background-color: transparent !important;
    text-decoration: var(--rh-cta-text-decoration);
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }

  .rhsfx-cta *:focus {
    outline: none !important;
  }

  .rhsfx-cta:is(.primary, .secondary, .brick) * {
    padding: var(--rh-space-lg, 16px) var(--rh-space-xl, 24px) !important;
  }

  .rhsfx-cta.primary *:focus {
    outline:
      var(
          --rh-border-width-sm,
          1px
        ) solid var(
          --rh-color-text-primary-on-dark,
          #ffffff
        ) !important;
    outline-offset: -2px;
  }

  /* Extras */
  .rhsfx-nav-footer {
    border-block-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle-on-light, #c7c7c7);
    padding-block-start: var(--rh-space-3xl, 48px);
  }

  .rhsfx-sr-only,
  .rhsfx-visible-sm {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    clip-path: inset(50%) !important;  /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  @container (max-width: 992px) {
    .rhsfx-visible-sm {
      clip: unset !important;
      clip-path: unset !important;
      height: unset !important;
      margin: unset !important;
      overflow: unset !important;
      padding: unset !important;
      position: unset !important;
      width: unset !important;
      white-space: unset !important;
    }
  }

  .rh-navigation {
    --_rh-nav-height: 72px;

    position: sticky;
    top: 0;
    width: 100%;
    container-type: inline-size;
    container-name: rh-navigation;
    font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
    z-index: 102;
  }

  .rh-navigation-container {
    position: relative;
    background-color: var(--rh-color-surface-darkest, #151515);
    display: grid;
    grid-template-areas: "rh-navigation-logo rh-navigation-mobile-menu-button" "rh-navigation-menu rh-navigation-menu";
    grid-template-columns: max-content 1fr;
    grid-template-rows: var(--_rh-nav-height) auto;
    column-gap: var(--rh-space-lg, 16px);
  }

  .rh-navigation-logo {
    grid-area: rh-navigation-logo;
    display: flex;
    justify-content: center;
    width: 135px;
    margin-inline-start: 32px;
  }

  .rh-navigation-logo svg {
    max-width: 100%;
    flex-grow: 1;
  }

  .rh-navigation-mobile-menu-button {
    grid-area: rh-navigation-mobile-menu-button;
    display: flex;
    justify-content: end;
    margin-inline-end: var(--rh-space-2xl, 32px);
  }

  .rh-navigation-mobile-menu-button button {
    display: flex;
    flex-direction: column;
    gap: var(--rh-space-xs, 4px);
    justify-content: center;
    align-items: center;
    border-block-start: var(--rh-border-width-lg, 3px) solid transparent;
    border-inline: none;
    border-block-end: none;
    background: none;
    padding-block: 0;
    padding-inline: var(--rh-space-md, 8px);
    font-size: var(--rh-font-size-code-sm, 0.875rem);
    color: var(--rh-color-text-primary-on-dark, #ffffff);
  }

  .rh-navigation-mobile-menu-button button[aria-expanded="true"],
  .rh-navigation-mobile-menu-button button:hover {
    border-block-start-color: var(--rh-color-accent-brand-on-dark, #ee0000);
  }

  .rh-navigation-mobile-menu-button button[aria-expanded="true"] {
    color: var(--rh-color-text-primary-on-light, #151515);
    background-color: var(--rh-color-surface-lightest, #ffffff);
  }

  .rh-navigation-mobile-menu-button button:before {
    display: flex;
    flex-direction: row;
    justify-content: center;
    content: "";
    width: 16px;
    height: 20px;
    color: var(--rh-color-text-primary-on-dark, #ffffff);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  .rh-navigation-mobile-menu-button button[aria-expanded="true"]:before {
    color: var(--rh-color-text-primary-on-light, #151515);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
  }

  .rh-navigation-menu {
    grid-area: rh-navigation-menu;
    display: grid;
    grid-template-areas: "rh-navigation-menu-primary" "rh-navigation-menu-secondary";
    background-color: var(--rh-color-surface-darkest, #151515);
    column-gap: var(--rh-space-lg, 16px);
    max-height: calc(100dvh - var(--_rh-nav-height));
    overflow-y: scroll;
  }

  .rh-navigation-menu[active] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--rh-color-surface-lightest, #ffffff);
    box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
    padding: var(--rh-space-lg, 16px);
  }

  .rh-navigation-menu:not([active]) {
    display: none;
  }

  .rh-navigation-menu .rh-navigation-menu-primary {
    grid-area: rh-navigation-menu-primary;
    display: flex;
    flex-direction: column;
  }

  .rh-navigation-menu:not([active]) .rh-navigation-menu-primary {
    display: none;
  }

  .rh-navigation-menu-secondary {
    grid-area: rh-navigation-menu-secondary;
  }

  .rh-navigation-menu-secondary > ul {
    gap: var(--rh-space-md, 8px);
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding:
      var(--rh-space-2xl, 32px)
      var(--rh-space-lg, 16px)
      var(--rh-space-lg, 16px);
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) > ul > li {
    border-block-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle-on-light, #c7c7c7);
  }

  .rh-navigation-menu-secondary .rh-navigation-dropdown li {
    margin-block: var(--rh-space-md, 8px);
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) > ul > li:last-of-type {
    border-block-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle-on-light, #c7c7c7);
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown > a,
  .rh-navigation-menu-primary > ul > li > a {
    display: flex;
    align-items: center;
    height: max-content;
    color: var(--rh-color-text-primary-on-light, #151515) !important;
    font-size: var(--rh-font-size-body-text-md, 1rem);
    font-weight: 500;
    padding: var(--rh-space-lg, 16px) var(--rh-space-xl, 24px);
    text-decoration: none !important;
    text-align: center;
    border-block-start: var(--rh-border-width-lg, 3px) solid transparent;
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown {
    border-inline-start: var(--rh-border-width-lg, 3px) solid transparent;
    border-inline-end: var(--rh-border-width-sm, 1px) solid transparent;
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown[active] {
    border-inline-start-color: var(--rh-color-text-brand-on-light, #ee0000);
    border-inline-end-color: var(--rh-color-border-subtle-on-light, #c7c7c7);
    box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown > a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown > a:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-inline-end: 2px solid #151515;
    border-block-end: 2px solid #151515;
    rotate: -45deg;
  }

  .rh-navigation-menu-secondary .rh-navigation-dropdown a:after {
    margin-inline-start: auto;
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown[active] > a:after {
    rotate: 45deg;
  }

  .rh-navigation-dropdown-menu {
    padding: var(--rh-space-xl, 24px);
  }

  :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown:not([active]) .rh-navigation-dropdown-menu {
    display: none;
  }

  .rh-navigation-menu-secondary .rh-navigation-dropdown a {
    justify-content: unset;
    gap: var(--rh-space-md, 8px);
  }

  .rh-navigation-menu-secondary .rh-navigation-dropdown a span {
    pointer-events: none;
  }

  .rh-navigation-menu-secondary .rh-navigation-dropdown a:before {
    content: "";
    width: 1rem;
    aspect-ratio: 1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23151515' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  .rh-navigation-menu-secondary .rh-navigation-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .rh-navigation-menu-secondary .rh-navigation-dropdown li > a {
    text-decoration: none;
    color: var(--rh-color-interactive-blue-darker, #0066cc) !important;
  }

  .rh-navigation-menu-secondary .rh-navigation-dropdown li > a:hover {
    color: var(--rh-color-interactive-blue-darkest, #003366) !important;
  }

  .rh-navigation-overlay[open] {
    --_gray-90-rgb: var(--rh-color-gray-90-rgb, 31 31 31);

    display: block;
    position: fixed;
    background-color: rgb(var(--_gray-90-rgb) / var(--rh-opacity-80, 80%));
    inset-block-start: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--rh-navigation-overlay-z-index, -1);
  }

  .rh-navigation-overlay:not([open]) {
    display: none;
  }

  @container rh-navigation (min-width: 992px) {
    .rh-navigation-container {
      position: relative;
      grid-template-areas: "rh-navigation-logo rh-navigation-menu";
      column-gap: var(--rh-space-2xl, 32px);
      padding-inline-end: var(--rh-space-2xl, 32px);
    }

    .rh-navigation-mobile-menu-button {
      display: none;
    }

    .rh-navigation-menu {
      max-height: auto;
      overflow: unset;
    }

    .rh-navigation-menu,
    .rh-navigation-menu:not([active]) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .rh-navigation-menu:not([active]) .rh-navigation-menu-primary {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) > ul {
      display: flex;
      flex-direction: row;
      gap: var(--rh-space-md, 8px);
      align-items: center;
      height: 100%;
      padding: 0;
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) > ul > li,
    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown {
      display: flex;
      align-items: center;
      height: 100%;
      border: none;
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) > ul > li:last-of-type {
      border: none;
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown > a,
    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) > ul > li > a {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding-block: 0;
      padding-inline: var(--rh-space-md, 8px);
      border: none;
      border-block-start: var(--rh-border-width-lg, 3px) solid transparent;
      color: var(--rh-color-text-primary-on-dark, #ffffff) !important;
      font-weight: var(--rh-font-weight-body-text-regular, 400);
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown > a {
      position: relative;
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown > a:is(:hover,:focus),
    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) > ul > li > a:is(:hover,:focus) {
      border-block-start-color: var(--rh-color-brand-red-on-dark, #ee0000);
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown > a:after {
      display: none;
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown > a:is(:hover,:focus):after {
      display: block;
      position: absolute;
      bottom: var(--rh-space-xs, 4px);
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      rotate: 0deg;
      border: none;
    }

    .rh-navigation-menu-secondary .rh-navigation-dropdown > a {
      font-size: var(--rh-font-size-body-text-xs, 0.75rem);
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown[active] > a {
      color: var(--rh-color-text-primary-on-light, #151515) !important;
      background-color: var(--rh-color-surface-lightest, #ffffff);
    }

    :is(.rh-navigation-menu-primary, .rh-navigation-menu-secondary) .rh-navigation-dropdown[active] > a:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23151515' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3E%3C/svg%3E");
      rotate: 0deg;
    }

    .rh-navigation-menu-secondary .rh-navigation-dropdown:not([active]) > a:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z'/%3E%3C/svg%3E");
    }

    .rh-navigation-menu-primary .rh-navigation-dropdown[active] .rh-navigation-dropdown-menu {
      position: absolute;
      top: var(--_rh-nav-height);
      left: 0;
      right: 0;
      background-color: var(--rh-color-surface-lightest, #ffffff);
      max-height: calc(100dvh - var(--_rh-nav-height));
      overflow-y: scroll;
      padding: var(--rh-space-2xl, 32px);
      box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
    }

    .rh-navigation-menu-primary .rh-navigation-dropdown[active] .rh-navigation-dropdown-menu-container {
      margin: 0 auto;
      max-width: 1136px;
    }

    .rh-navigation-menu-secondary .rh-navigation-dropdown[active] .rh-navigation-dropdown-menu {
      position: absolute;
      inset: var(--_rh-nav-height) var(--rh-space-2xl, 32px) auto auto;
      margin-top: 0;
      background-color: var(--rh-color-surface-lightest, #ffffff);
      padding: var(--rh-space-2xl, 32px);
    }
  }
}

@layer demo-styles {
  .github-content li::first-letter {
    text-transform: uppercase;
  }
}
